{% extends "base_mistock.html" %}
{% load helpers %}
{% block page_content %}
<main>
  <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="shopping-bag"></i></div>
              {% if obj %} Editar {% else %} Realizar {% endif %} Compra
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid px-4">
    <div class="card card-header-actions mx-auto">
      <div class="col-md-12">
        <div class="card">
          <form class="form-inline" method="POST">
            {% csrf_token %}
            <div class="card-header">Datos de la Factura</div>
            <div class="card-body">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-2">
                    <div class="input input-group-sm mb-3">
                      <label class="form-label">Fecha</label>
                      {{form.factura_fecha}}
                    </div>  
                  </div>
                  <div class="col-md-2">  
                    <div class="input input-group-sm mb-3">
                      <label class="form-label">Tipo</label>
                      {{form.factura_tipo}}
                    </div>                  
                  </div>
                  <div class="col-md-4">  
                    <div class="input input-group-sm mb-3">
                      <label class="form-label">Número</label>
                      {{form.factura_numero}}
                    </div>                  
                  </div>  
                  <div class="col-md-4">  
                    <div class="input input-group-sm mb-3">
                      <label class="form-label">Moneda</label>
                      {{form.moneda}}
                    </div>                  
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-7">  
                      <div class="input input-group-sm mb-3">
                        <label class="form-label">Proveedor</label>
                        {{form.proveedor}}
                      </div>                  
                    </div>
                    <div class="col-md-5">  
                      <div class="input input-group-sm mb-3">
                        <label class="form-label">Monto Total</label>
                        {{form.factura_total}}  
                      </div>           
                    </div>
                  </div>  
                </div>
              </div>
            </div>



            <div class="col-md-12">
              <div class="card">

                <div class="card-header">Detalle de los  Productos
                  <div>
                    <a class="btn btn-warning btn-icon" href="{% url 'mistock:comprar_list'%}">
                      <i data-feather="plus"></i>
                    </a>
                  </div>

                </div>
                <div class="card-body">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">  
                        <table class="table" name="detalleProducto" id="detalleProducto">
                          <thead>
                            <tr>
                              <th>#Id</th>
                              <th>Cantidad</th>
                              <th>Descripción</th>
                              <th>Precio Costo</th>
                              <th>% Iva</th>
                              <th>Precio Venta</th>
                              <th>Sub-Total</th>
                              <th>Acción</th>
                            </tr>  
                          </thead>
                          <tbody style="font-size: 8px; font-family: 'Calibri';">
                          </tbody>
                        </table>
                      </div>  
                    </div>  
                    <div class="col-md-12">
                     <div class="row">  
                      <div class="col-md-8"></div>
                      <div class="col-md-1">
                        <label for="inputPassword6" class="col-form-label">Total</label>
                      </div>
                      <div class="col-md-3">
                        <input type="text" name="totalFactura" id="totalFactura" class="form-control" style="text-align: right; font-size: 20px;" readonly value="0">
                      </div>
                      


                    </div> 

                  </div>

                </div>  
                <button type="button" class="btn btn-blue btn-icon" onclick="addrow()">
                  <i data-feather="file-plus"></i>
                </button>
              </div>        

              <div class="card">
                <div class="card-body ms-auto">
                  <button type="button" class="btn btn-light text-dark" onclick="guardar()" ><i class="me-1" data-feather="save"></i> Guardar</button>
                  <a class="btn btn-light text-secundary" href="{% url 'mistock:comprar_list' %}"><i class="me-1" data-feather="grid"></i>Volver</a>
                </div>
              </div>  

            </div>  
          </div> 
         </form>  
        </div>  
      </div>  
    </div>  
  </div>    
<script>
  function addrow(){
   var table = document.getElementById("detalleProducto");
   var total_factura = $('#totalFactura').val();
   total_factura = total_factura.replace(/\D/g,'');
   var row = table.insertRow();
    //this adds row in 0 index i.e. first place
   id = row.rowIndex;
   cantidad = Math.round(Math.random() * (100 - 1) + 1);
   costo = Math.round(Math.random() * (5000000 - 1) + 1);
   venta = Math.round(costo + ((costo * 30)/100))
   total = costo * cantidad
   // Sumar total
   total_factura = parseInt(total_factura) + parseInt(total);
   total_factura = total_factura.toLocaleString();
   //
   costo = costo.toLocaleString();
   venta = venta.toLocaleString();
   total = total.toLocaleString();
   iva = 10;
   
   
   
   

   //
   var colum1 ="<td>"+id+"</td>"
   var colum2 ="<td>"+cantidad+"</td>"
   var colum3 ="<td>"+'Descripcion del producto'+"</td>"
   var colum4 ="<td style='text-align: right;'>"+costo+"</td>"
   var colum5 ="<td style='text-align: center;'>"+iva+"</td>"
   var colum6 ="<td style='text-align: right;'>"+venta+"</td>"
   var colum7 ="<td style='text-align: right;'>"+total+"</td>"

   row.innerHTML = "<tr>"+ colum1+ colum2 + colum3 + colum4 + colum5 + colum6 +colum7+"<td><button class='btn btn-sm btn-danger' onclick='quitarFila(this)'>X</button></td></tr>";
  $('#totalFactura').val(total_factura);

  }

  function quitarFila(i){
      var tableRows = $(i).parents('tr');
      var total_linea = 0 
      var total_factura = $('#totalFactura').val();
      total_factura = total_factura.replace(/\D/g,'');
      for(let i=0; i<tableRows.length; i++) {
           const row = tableRows[i];
            for (var j = 0, col; col = row.cells[j]; j++) { 
                if (j == 6) {
                  total_linea = col.innerText; 
                }

            }

      }       
      total_linea = total_linea.replace(/\D/g,'');
      total_factura = parseInt(total_factura) - parseInt(total_linea);
      total_factura = total_factura.toLocaleString();
      $('#totalFactura').val(total_factura);
      $(i).parents('tr').remove();
  }
 

    function uuidv4() {
      return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
      );
    }
    function guardar() {
      var datosDetalle = datosDetalleCompras();
      $.ajax({
            type: 'POST',
            url: 'guardar',
            data: {'detalle[]': datosDetalle,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
        });
    }
</script>




</main>




{% endblock page_content %}      