{% extends "base.html" %}
{% load columns %}
{% load static %}
{% load helpers %}
{% block page_content %}
<header class="page-header-ui page-header-light py-lg-5 bg-white">
    <div class="page-header-ui-content">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-7">
                    <h6 class="page-header-ui-title">Obtenga informaciones útiles fácilmente</h6>
                    <p class="page-header-ui-text mb-5">Bienvenidos a <b>Kodes Software Developer</b>, desarrollo e implementación de sistemas informáticos a medidas.</p>
                </div>
                <div class="col-lg-5 d-none d-lg-block"><img class="img-fluid ps-xl-5" src="{% static 'assets/img/illustrations/browser-stats.svg' %}" /></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<div class="dropdown-divider m-0"></div>
<section class="bg-light py-10">
    <div class="container px-5">
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-primary text-white mb-4"><i data-feather="layers"></i></div>
                <h3>Herramientas modernas</h3>
                <p class="mb-0">Sistemas construidos con lenguaje de programación y framework actuales. Base de datos relacionales y fácil de acceso, ya que esta disponible en las nubes!</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-success text-white mb-4"><i data-feather="smartphone"></i></div>
                <h3>Diseño receptivo moderno</h3>
                <p class="mb-0">El interfaz de usuario adaptado a cualquier dispositivos (móviles, computadoras, tables, etc)</p>
            </div>
            <div class="col-lg-4">
                <div class="icon-stack icon-stack-xl bg-danger text-white mb-4"><i data-feather="code"></i></div>
                <h3>Documentación completa</h3>
                <p class="mb-0">Todos los sistemas y proyectos están totalmente documentadas paso a paso.</p>
            </div>
        </div>

        <div class= "card px-2 mt-5 py-2">

            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="mb-5 text-center">
                                        <div class="display-5 text-primary mb-2">Empresas Asociadas</div>
                                        <p class="lead mb-0">Empresas reconocidas que utilizan el sistema Mistock Web</p>
                                    </div>
                                </div>
                    
                    <div class= "card-body">  
                    <div class="dropdown-divider m-0 pb-2"></div>                          
                       
                    <div class="row">
                        {% for col in obj|columns:3 %}
                            <div class="col-lg-4">
                                {% for item in col %}
                                    <div class="item mb-2">
                                            <a class="card lift" href="#!">
                                                
                                                <div class="card-icon" style="max-height: 300px;">
                                                    {% if item.logo %}
                                                        <img class="card-img-top" src="{{item.logo.url}}" style="max-width: 100%;max-height: 100%; display: block;"/>
                                                    {% else %}    
                                                        <img class="card-img-top" src="{% static 'sinlogo.jpg' %}" />
                                                    {% endif %}   
                                                </div> 

                                                <div class="card-body text-center py-3 mt-2">
                                                    <h6 class="card-title mb-0">{{item.razonsocial}}</h6>
                                                    <div class="text-yellow">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star-half-alt"></i>
                                                    </div>
                                                    <div class="small mb-2">(12 Reviews)</div>
                                                    <div class="small">{{item.ciudad}} - {{item.departamento}} </div>
                                                </div>
                                                <div class="card-footer text-center text-xs">
                                                    <i class="fas fa-store-alt me-1"></i>
                                                    Opened 2 weeks ago
                                                </div>
                                            </a>    
                                    </div>
                                {% endfor %}

                            </div><!-- /col-md-4 -->
                        {% endfor %}
                    </div><!-- /row -->


                </div>    
            </div>        


    </div>







    <div class="svg-border-rounded text-dark">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
{% endblock page_content%}

